body{
  background-color: #fafafa;
}

#root{
  display: flex;
  flex-direction: row;
  height: 100vh;

}


.ConteudoLateralEsquedo,
.ConteudCentral,
.ConteudoLateralDireito{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* __________________ Inicio ConteudoLateralEsquedo__________________ */

.ConteudoLateralEsquedo{
  background: red;
  display: flex;
  width: 15vw;
  

}

.text-menu{
  list-style: none;
  font-size: 15px;
}



/* __________________ Fim ConteudoLateralEsquedo__________________ */


.ConteudoCentral{
  background: blue;
  width: 65vw;

}


.ConteudoLateralDireito{
  background: yellow;
  width: 20vw;
}

